.animate {
  animation-name: fade;
  animation-duration: 0.4s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

.animate-light {
  animation-name: fadeLight;
  animation-duration: 0.4s;
  animation-fill-mode: backwards;
  animation-timing-function: ease-in-out;
}

.delay-short {
  animation-delay: 0.2s;
}

.delay-medium {
  animation-delay: 0.4s;
}

.delay-slight {
  animation-delay: 0.7s;
}

.delay-long {
  animation-delay: 0.9s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeLight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}

.save-anim {
  animation: typewrite 0.8s steps(30,end) 0.4s infinite normal both;

  overflow: hidden;

  font-family: 'Source Code Pro', monospace;
  font-size: 10px;

  color: white;

  margin-left: 0.4rem;

  opacity: 0.6;
}

@keyframes typewrite {
  from {
    width: 0;
  }
  to {
    width: 19px;
  }
}

