.input {
  border: none;
  border-radius: 7px 0 0 7px;

  padding: 10px;
  width: 40rem;

  color: white;

  background-color: #3a3939;

  margin-top: 10rem;
}

.input:focus {
  outline: none;
}

.btn {
  background-image: linear-gradient(to left, #1ea8da, #81cce8);
  padding: 10px;

  border-radius: 0 10px 10px 0;


  transition: 0.5s;

  cursor: pointer;

  .icon {
    width: 17px;
  }
}

.react-logo {
  left: 4rem;
  bottom: 4rem;

  opacity: 0.1;

  transform: rotate(35deg);

}

.save-btn {
  background-image: linear-gradient(to right, #1ea8da, #81cce8);
  padding: 10px;
  border-radius: 7px 7px 7px 7px;

  left: 50%;
  transform: translate(-50%, 300%);

  cursor: pointer;

  transition: 0.5s;
}

.save-btn:hover {
  box-shadow: #202020 0 13px 27px -5px, #313131 0px 8px 16px -8px;
}

.text {
  color: white;
}