.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.flex-center {
    display: flex;

    justify-content: center;
    align-items: center;
}

.list {
    list-style: none;
}

.margin {
    margin: 2rem 1rem 1rem;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.bottom-left {
    bottom: 0.5rem;
    left: 0.5rem;
}

.top-right {
    top: 0.5rem;
    right: 0.5rem;

    opacity: 0.3;
}

.margin-right {
    margin-right: 0.5rem;
}