.absolute {
  position: absolute;
}

.btn-text {
  color: white;

  font-size: 30px;
}

.side-btn {
  background-image: linear-gradient(#a61ece, #c45cea);

  cursor: pointer;

  padding: 10px 20px;

  border-radius: 50%;

  -webkit-box-shadow: 1px 28px 108px -18px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 28px 108px -18px rgba(0,0,0,0.75);
  box-shadow: 1px 28px 108px -18px rgba(0,0,0,0.75);

  transition: 0.5s;
}

.side-btn:hover {
  transform: scale(1, 1.1);
}

.bottom-left {
  bottom: 0.5rem;
  left: 0.5rem;
}

.bottom-right {
  bottom: 0.5rem;
  right: 0.5rem;

  opacity: 0.3;
}

.margin-right {
  margin-right: 0.5rem;
}
